.mainForms {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 13rem;
    height: 90vh;
}

.container_form {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 25%;
    border-radius: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: .001rem solid #cccccc;
    border-radius: 2px;
    margin-bottom: 40px;
    height: min-content;
    -webkit-box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.17);
}


form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
    width: 90%;
}

form label {
    color: rgb(166, 166, 196);
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    margin: 0 1px;
}

form a {
    font-size: 12px;
    color: #2b74dc;
}

.container_forget_password {
    width: 100%;
    margin: 10px 0;
}

#forget_password {
    text-decoration: none;
}

.container_form h3 {
    color: #3c3f5d;
    font-size: 1.9rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
}

.container_form .input {
    display: block;
    height: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: border 0.5s;
    margin-bottom: 11px;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 2px;
    border: 2px solid rgb(215, 215, 215);
}



.box_info {
    width: 100%;
    margin: 4px;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    height: min-content;

    text-align: center;
    border-radius: 5px;
    color: rgb(0, 0, 0);

}

.container_message p {
    text-align: center;
    color: #ff1500;
    background-color: #ffffff;
    margin: 3px;
}

.container_message {
    width: 100%;

}

.box_info p {
    color: black;
    cursor: default;
    margin: 10px;
    font-size: 14px;

}

.here {
    color: #2b74dc;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    display: flex;
    width: 100%;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #4252ff;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 0;
    transition: .2s all;
}

.g_id_signin {
    width: 100%;
}

.btn:hover {
    background-color: #1a30f4;
}

.input:hover {
    border: 2px solid rgb(121, 121, 121);
}

.input::placeholder {
    color: #05050543;
    font-size: 12px;
}

.input:focus {
    border: 2px solid rgb(43, 43, 43);
    outline: none;

}