@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
  font-family: 'Lato', sans-serif;
}

#root {
  height: 100vh;
  position: relative;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1620207418302-439b387441b0?q=80&w=1934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: rgb(0, 0, 0);
}