@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #ffffff;

    color:rgb(0, 0, 0);

}










