

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

header{
    background-color: #4f5a6b;
    display: flex;   

}
*{
    color:rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
header ul{
    
    display: flex;
    float: left;
    gap: 2rem;
  
}
header ul li {
    list-style: none;
    float: left;
    text-decoration: none;
    
}
header ul li a{
    color: white;
}
.container-main{
    width: 100%;
    height: 700px;
    display: flex;
    gap: 2rem;
    background-color:#282f38;
    
}
.container-dashboards{   
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap:1rem;
    height: min-content;
    width: 100%;
}
.title-dashboard{
    font-size: 30px;
    
}
.form_dashboard{
    width: 100%;
    display: flex;
    gap: 10px;
    height: min-content;
}
.form_dashboard input{
    border-radius: 1px;
    background-color: #48494a;
    border: none;
    height: 40px;

}
.card-dashboard{
    text-align: center;
    height: 100px;
    width: 200px;
    cursor: pointer;
    border-radius: 1px;
    background-color: rgb(101, 100, 100);

}

h3{
    padding-left: 20px;
}

.container-tasks{
    display: flex;
    padding-top: 60px;
    width: 100%;
    gap: 1rem;
    overflow: scroll;
}
.container-sesion{   
    border-radius:4px ;
    background-color:#0d1117;

    width: 360px;
    height: min-content;   
    max-height: 600px;  
}
.cabecera_sesion p{
    margin: 0;
    font-size: 24px;
    padding-left: 25px;
}
.cabecera_sesion{
    background-color: #1da61b;
}
.container-sesion div{
   text-align: left;
}
.container-card-tasks{ 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;

    margin: 0 auto;
margin-top: 15px;
    max-height: 500px;
    overflow-y: scroll;
 

    
}
.options-tasks{
    margin-top: 20px;
    height: 60px;
    background-color: #2b2828;
}
.icon-add {
    float: right;
    margin-top: 5px;
    display: inline-block;
}
.options-tasks input  {
    float: left;
    width: 60%;
    margin-top: 10px;
    background-color: #474848;
    border: none;
    height: 30px;
    padding-left: 10px;
    border-radius: 50px;
    margin-left: 15px;
    transition: .5s all;
}
.options-tasks input:hover  {
    background-color: #3f3f3f;
}
.options-tasks input:focus  {
   outline: none;
}

.options-tasks p{
margin: 0;
}
.card-task{ 
    cursor: pointer;
    height:50px;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
    padding-left: 20px;
    background-color: #262d38;
    border-radius: 5px;
}
.titulo{
    font-size: 18px;
    font-weight: 600;
}


.navBarDashboard{
    background-color:#141d25;
}
.navBarDashboard{
    width: 300px;
    background-color:#141d25;
}
.navBarDashboard ul li{
    list-style: none;
}
.avatar{
    width: 60%;
    border-radius: 100px;
}