body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #ffffff;

    color:rgb(0, 0, 0);

}




.container_form {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 30%;
    filter: blur(.10);
    margin-left: auto;
    margin-right: auto;
    border-radius: 1px;
    margin-top: 4rem;
    border: .001rem solid #cccccc;
    height: min-content;
}

form {
    padding-top: 5px;
    width: min-content;
    margin: 0 auto;
}

form label {
    font-size: 14px;
    margin: 3px;
}

form a {
    font-size: 12px;
    color: #2b74dc;
}

.container_form h3 {
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
    text-align: center;
}

.container_form .input {
    display: block;
    height: 25px;
    width: 240px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 1px solid rgb(195, 195, 195);
    transition: border 0.5s;
    margin-bottom: 10px;
    margin-top: 3px;

}

.container_form form .input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 1rem;
}

.box_info{
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
    border: .001rem solid #b8b8b8;
    font-size: 1rem;
    height: min-content;
    padding: 2px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.container_message{
    text-align: center;
    color: #a93228;
    background-color: #ffffff;

}

p{
    cursor:default;
    margin: 0;
    font-size: 14px;
    padding: 5px;
}

.here{
 color: #2b74dc;
 cursor: pointer;
}

.btn {
    display: block;
    width: 40%;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #1a30f4;
    height: 25px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 0;
    transition: all .5;
}

.btn:hover {

    background-color: rgb(85, 247, 85);
}

.input:hover {
    border: 1px solid rgb(61, 215, 250);
}




.input::placeholder {
    color: #dcdbdb89;
    font-size: 12px;
}

.input:focus {
    border: 0.1px solid rgb(61, 215, 250);
    outline: none;

}