body{
    font-family: montserrat;
    margin: 0;

    background-color: rgb(24, 26, 30);
}

.container_form{
    background-color: rgba(46, 45, 45, 0.436);
    width: 30%;
    
    margin:0 auto ;
    border-radius: 16px;
    margin-top: 15rem;
    height: 300px;
}
form{
    padding-top: 5px;
}

.container_form h3 {
    color: aliceblue;
    font-size: 1.6rem;
    text-align: center;
}

.container_form .input{
    display: block;
    width: 60%;
    height: 48px;
    color: aliceblue;
    margin: 0 auto;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    margin-top: 10px;

    border: 0;
    transition: border 0.5s;
    
}

.container_form form input{
    margin-top: 20px;
}
.btn-send{
    display: block;
    width: 20%;
    height: 30px;
    margin: 0 auto;
    border: 0;
    background-color: rgb(232, 241, 232);
}

.input:hover {
    border: 1px solid rgb(61, 215, 250);
}




.input::placeholder {
    color: #dcdbdb;
}

.input:focus {
    border: 0.1px solid rgb(61, 215, 250);
    outline: none;
    
}
