@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.container-session {
    border-radius: 4px;
    background-color: #f4f4f4f1;
    height: min-content;
    width: 280px;
    min-width: 280px;
    max-height: 500px;
    border: 1px solid rgb(209, 209, 209);
    backdrop-filter: blur(50px);
}

.header_session div p {
    margin: 0;
    float: left;
    color: rgb(83, 77, 77);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 25px;
}

.title_session {
    width: 90%;
}

.header_session {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    min-height: 2rem;
}

.container-card-tasks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    min-height: 50px;
    max-height: 320px;
    overflow-y: auto;
    background-color: #f4f4f4f1;
    scrollbar-width: thin;
}

.title_task {
    width: 100%;
    color: #3f3f3f;
    font-size: 13px;
    font-weight: 600;
}

.delete-icon {
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.card-task {
    display: flex;
    align-items: center;
    height: 50px;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
    padding-left: 20px;
    background-color: #ffffff;
    border-radius: 1px;
    border: 1px solid rgb(203, 203, 203);
    box-shadow: -2px 2px 12px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -2px 2px 12px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -2px 2px 12px -2px rgba(0, 0, 0, 0.3);
}

.options-tasks {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-add {
    float: right;
    cursor: pointer;
    margin-top: 5px;
}

.icon {
    fill: rgb(0, 0, 0);
}

.input_Name_Task {
    float: left;
    width: 80%;

    color: #222222;
    background-color: #eeeeee;
    border: none;
    height: 40px;
    padding-left: 10px;
    border-radius: 1px;
    transition: .5s all;
}

.input_Name_Task:hover {
    color: #222222;
    background-color: #dedede;
}

.input_Name_Task::after {
    color: #222222;
}

.input_Name_Task::placeholder {
    color: #222222;
}

.input_Name_Task:focus {
    outline: none;
    background-color: #dadada;
    color: #222222;
}