@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.container-session {
    border-radius: 4px;
    background-color: #ebebebaf;
    height: min-content;
    width: 350px;
    min-width: 320px;
    max-height: 510px;
    backdrop-filter: blur(50px);
}

.header_session div p {
    margin: 0;
    float: left;
    color: rgb(83, 77, 77);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 25px;
}

.title_session {
    width: 90%;
}

.header_session {
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    min-height: 2rem;
}

.container-card-tasks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    max-height: 380px;
    overflow-y: auto;
}

.title_task {
    width: 100%;
    color: #3f3f3f;
    font-size: 13px;
    font-weight: 600;
}

.delete-icon {
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.card-task {
    display: flex;
    align-items: center;
    height: 50px;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
    padding-left: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}

.options-tasks {
    margin-top: 20px;
    height: 60px;
    background-color: rgba(243, 243, 243, 0);
}

.icon-add {
    float: right;

    margin-top: 5px;
}

.icon {
    fill: rgb(0, 0, 0);
}

.options-tasks input {
    float: left;
    width: 60%;
    margin-top: 10px;
    color: #222222;
    background-color: #cecece;
    border: none;
    height: 30px;
    padding-left: 10px;
    border-radius: 50px;
    margin-left: 15px;
    transition: .5s all;
}

.options-tasks input:hover {
    color: #cecece;
    background-color: #4d4d4d;
}

.options-tasks input::after {
    color: #222222;
}

.options-tasks input::placeholder {
    color: #222222;
}

.options-tasks input:focus {
    outline: none;
    background-color: #222222;
    color: #cecece;
}

.options-tasks p {
    margin: 0;
}