.block-dashboards {
    width: 84%;
}

.container-dashboards {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    min-height: min-content;
    max-height: 475px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.title-dashboard {
    font-size: 40px;
    font-weight: 600;
}

.form_dashboard {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}




.card-dashboard {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 45px;
    backdrop-filter: blur(10px);
    border-radius: 1px;
    background-color: rgba(226, 226, 226, 0.397);
}

.card-dashboard-title {
    display: flex;
    margin-left: 10px;
    width: 30%;
    text-align: center;
    font-weight: 600;
    color: black;
    align-items: center;
}


.button_delete_dash {
    width: 50%;
    float: right;
}

.title-card {
    width: 50%;
    margin: 0;
}