.container-main {
    position: relative;
    width: 100%;
    height: 93vh;
    display: flex;
    gap: 10px;
    color: rgb(91, 87, 87);
    background-size: cover;
    background-color: rgb(255, 255, 255);
    image-orientation: flip;
}