.content-Dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 83%;
    height: max-content;
}


.container-sections {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 20px;
    gap: 10px;
    height: 460px;
    overflow-x: auto;
    scrollbar-width: thin;
    border-top: 1px solid rgb(209, 209, 209);
    backdrop-filter: blur(25px);
}

.block-info-dash {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Title {
    margin: 0;
    font-size: 45px;
    font-weight: 600;
}

.icon-options-dashboard {
    cursor: pointer;
}

.container-members {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.icon-member-dashboard {
    border-radius: 100px;
    height: 40px;
    width: 40px;
}



.form-section {
    display: flex;
    flex-direction: row;
    min-width: 280px;
}

.input-name-section {
    margin: 0;
}

.button-create-section {
    color: aliceblue;
    cursor: pointer;
    background-color: rgb(84, 84, 84);
}