.content-Dashboard {
    width: 90%;
    height: max-content;
    overflow-x: hidden;
    overflow-y: hidden;
}


.container-tasks {
    display: flex;
    width: 100%;
    gap: 1rem;
    height: max-content;
    overflow-x: auto;
    overflow-y: hidden;
    backdrop-filter: blur(25px);
}

.Title {
    font-size: 45px;
    font-weight: 600;
}

.options-dashboard {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    margin: 15px 0px;
    background-color: rgb(197, 197, 197);
}