.content-Dashboard {
    width: 90%;
    overflow-x: hidden;
}


.container-tasks {
    display: flex;
    width: 100%;
    gap: 1rem;
    overflow-x: auto;
    backdrop-filter: blur(25px);
}

.Title {
    font-size: 45px;
    font-weight: 600;
}