header ul {

    display: flex;
    float: left;
    gap: 2rem;

}

header {
    background-color: #ffffff;
    display: flex;

}

header ul li {
    list-style: none;
    float: left;
    text-decoration: none;

}

header ul li a {
    font-weight: 600;
    color: rgb(39, 39, 39);
}

header ul {

    display: flex;
    float: left;
    gap: 2rem;

}

header ul li {
    list-style: none;
    float: left;
    text-decoration: none;

}

