header {
    background-color: rgb(252, 254, 255);
    display: flex;
}

header ul li {
    list-style: none;
    float: left;
    text-decoration: none;

}

header ul li a {
    font-weight: 600;
    color: rgb(68, 68, 68);
}

header ul {
    display: flex;
    float: left;
    gap: 1rem;
}